<html>
    <body>
        <h2>Welcome to <%=title%></h2>
<ul>
    <% data.map((i) => {
        %><li><%=i%></li>
    <%

    })%>
</ul>

<div>
    <a href="products">Navigation example</a>
</div>

    </body>
</html>